/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #162b4d;
  --link: #fff;
  --link--hover: #b8b8b8;
  --bg-footer-color: #162b4d;;
}

body {
  font-family: roboto;
}
.post-1 {
	background: #B71757;
}
.post-2 {
	background: #0D7E71;
}
.post-3 {
	background: #b1660e;
}
.post-4 {
	background: #d12767;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */
