* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

body {
  background-color: #0b192f;
  margin: auto;
  width: 80%;
}

.post-1 {
  background: #B71757;
}

.post-2 {
  background: #0D7E71;
}

.post-3 {
  background: #b1660e;
}

.post-4 {
  background: #d12767;
}

.post-5 {
  flex-basis: 100%;
  background: #2d95bb;
}

header {
  background-color: #162b4d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem 0 1rem;
  margin-bottom: 1rem
}

.heading h1 {
  color: #fff;
  font-weight: 200;
}

.heading span {
  color: #B71757;
}

.topnav {
  align-self: center;
}

.topnav a {
  color: #fff;
  text-decoration: none;
  padding: 2rem 1rem;
}

.topnav a:hover {
  color: #b8b8b8;
  background-color: #283D5F;
}

.main {
  display: flex;
  flex-wrap: column;
  justify-content: space-between
}

.main_content {
  flex-basis: 78.5%;
}

.sidebar {
  flex-basis: 20%;
}

.news {
  display: block;
  background-color: #fff;
  color: #000;
  margin-bottom: 1rem;
}

.sidebar .image img {
  max-width: 100%;
}

.text p {
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  margin: 0px;
}

.text h2 {
  padding: 1.5rem;
  margin: 0px;
  font-weight: 300;
}

footer {
  background-color: #162b4d;
  color: #5B6E8C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
}

.main_content_row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: row;
  flex-basis: 50%
}

.block .text_block {
  width: 50%;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 55% 45%;
  grid-template-areas:
    "header date"
    "description .";
  color: rgb(255, 255, 255, 0.5);
}

.block .text_block h1 {
  font-weight: 200;
  color: #fff;
  margin: 0;
  padding: 2rem 3rem;
  font-size: 3rem;
}

.block .text_block p {
  padding: 0 3rem;
  margin: 0;
  grid-area: description;
}

.block .text_block .date span{
  color: rgb(255, 255, 255, 0.3);
  font-size: 3rem;
}

.block .date {
padding-top: 1rem;
text-align: center;
  font-size: 2rem; 
}


.block .text_block h1 {
  grid-area: header;

}

.block img {
  width: 50%;
  height: 100%
}

.block p {
  padding: 0;
}
/* .block:hover{

  background-color: rgb(255, 255, 255, 0.3);
} */

@media screen and (min-width: 768px) {
  .block:nth-child(even) {
    flex-direction: row-reverse;
  }

  .block:nth-child(even) .text_block {
    grid-template-columns: 20% 80%;
    grid-template-areas:
      "date header"
      ". description";
      text-align: right;
      
  }
.block.post-5 .text_block{
  width: 100%;

}
.block.post-5 .text_block h1{
  padding: 2rem;
}
  .burger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .block {
    flex-direction: column;
  }

  .burger {
    display: block;
    color: white;
  }

  .block img {
    width: 100%
  }

  .block .text_block {
    width: 100%
  }

  body {
    width: 97%
  }

  nav {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
  }

  .heading {
    padding: 1rem;
  }

  .main_content {
    flex-basis: 56%;
  }

  .sidebar {
    flex-basis: 41%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .codingby {
    margin-top: 0;
  }

  .footer_cr p {
    margin-bottom: 0;
  }

}

@media screen and (max-width: 480px) {

  .main {
    flex-direction: column;
  }

  .main_content {
    flex-basis: 100%
  }

  .block {}

}

/* for dev */
::-webkit-scrollbar {
  display: none;
}