$contentBackground: url("../img/m-h-night.jpg");
$colorBackground:#21232E;
$fontfamily1: 'Hind', sans-serif;
$fontfamily2: 'Fresca', sans-serif;
$fontfamily3: 'Source Sans Pro', sans-serif;
$colorHeading:#FFFFFF;
$underlineTextColorIndex:#FF4E33;
$colorButton: #E3AC00;
$colorButtonText: white;
$colorCardHeading: white;
$colorCardText: #D1D1D1;
$colorBackgroundCard: #3B3F50;
$colorGradient:#922C54;