$contentBackground: url("../img/m-h-day.jpg");
$colorBackground:#FFFFFF;
$fontfamily3: 'Source Sans Pro', sans-serif;
$fontfamily2: 'Hind', sans-serif;
$fontfamily1: 'Fresca', sans-serif;
$colorHeading:#2C2F3C;
$underlineTextColorIndex:#14A0C7;
$buttonColors: ("colorButton": #699900, "colorButtonText": white);
$colorCardHeading: white;
$colorCardText: #C0C3CE;
$colorBackgroundCard: #21232E;
$colorGradient:#2C5ADC;